.navbar{
    display: flex;
    padding: 2.5vh 0vw;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 0, 0, 0.92);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /* border-bottom: grey 1px solid; */
    box-shadow: grey 0px 0px 10px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 550;
}

.navbar .logo{
    margin-left: 2vw;
    width: 5vw;

}

.main-title{
    font-size: 5vh;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: #fff 0.3px; */
    background-clip: text;
}

.about-button{
    padding: 1.5vh 1.5vw;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  0.1s ease-in-out;
    margin-right: 3vw;
    border: #2000f3 solid 2px;
    box-shadow: 0px 0px 10px 0px #2000f3;
}

.about-button:hover{
    border: #ec01d8 solid 2px ;
    transition:  0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px #ec01d8;
}